{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://kit.fontawesome.com/d5ff9e6164.js" crossorigin="anonymous"></script>
<script>
    function eliminar(id){      
        Swal.fire({
        "title": "¿Estas seguro?",
        "text": "La acción que esta apunto de cometer, es irreversible",
        "icon": "warning",
        "showCancelButton": true,
        "confirmButtonColor": "#FD5151 ",
        "cancelButtonColor": "#F99C56 ",
        "confirmButtonText": "Si, Eliminar",
        "reverseButtons":true,
        }).then(function(result) {
        if (result.isConfirmed) {
        window.location.href = "/eliminarUsuario/"+id+"/"    
        Swal.fire(
        "☺ Eliminado!",
        "Su fila a sido eliminada exitosamente",
        "success",
        )
        }
        })
    }
</script>

{% endblock %}
{% block css %}
<style>
    .nunito{font-family:'Nunito',sans-serif} 
    #main-container {
        margin: 150px auto;
        width: 600px;
      }
    .imagen{
        width: 50px;
        height: 50px;
    }
      table {
        align-items: left;
        background-color: white;
        border-collapse: collapse;
        font-family: 'Segoe UI';
        width: 100%;
        box-shadow: 0 0 20px rgb(163, 163, 163);
        padding: 50%;
      }
      td,
      th {
        padding: 20px;
      }
      thead {
        background-color: #f29d39;
        color: white;
        border-bottom: rgb(255, 90, 61) 5px solid;
        text-align: left;
      }
    
      main {
        padding: 1em 2em;
      }
    
      .centrado {
        text-align: center;
      }
    
      .colorx {
        color: grey;
      }
    
     tr:nth-child(even){
         background-color: #ddd;      
     }
    
     tr:hover td{
         background-color: #fcb7c1;
     }
    
     @media (max-width: 45em){
            table{
                width:  100%;
                font-size:100%;
            }
            table td, table th {
                border: none;
                text-align: center;
            }
            table tr{
                display: flex;
                flex-direction: column;
                border: 1px solid grey;
                padding: 1em solid grey;            
            }
            table td[data-titulo]{
                display: flex;
            }
            table td[data-titulo]::before{
                content: attr( data-titulo );
                width: 100px;
                color: rgb(82, 81, 81);
                font-weight: bold;
            }
            table thead{
                display:none;
            }
    }
    .derecha{text-align: right;padding: 0%;}
    .button4 {
    background-color: #FF395B; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 12px;
    }
    
    /*paginación*/
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    ul.pagination li {display: inline;}
    
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    ul.pagination li a.active {
        background-color: #FF395B;
        color: white;
        border-radius: 5px;
    }
    
    ul.pagination li a:hover:not(.active) {background-color: #ddd;}
    </style>
{% endblock %}
{% block contenido %}

    <h1 class="main-title" style="font-size: 40px;">Administrar Usuarios  
        <div class="derecha">
            <a href="{% url 'registroUsuario' %}"><button class="button4"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Agregar nuevo usuario</button>
            <a href="{% url 'AdministrarGrupos' %}"><button class="button4"><i class="fas fa-users-cog"></i>&nbsp;&nbsp;&nbsp;Asignar grupos</button></h1>
        </div>
     
    <br>
        <table class="nunito">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Avatar</th>
                    <th>Fecha Registro</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for u in page_obj %}
                <tr>
                    <td data-titulo="ID">{{ u.id }}</td>
                    <td data-titulo="Nombre">{{ u.first_name | title }} {{ u.last_name | title  }}</td>
                    <td data-titulo="Rol"> </td>
                    <td data-titulo="Correo">{{ u.email }}</td>
                    {% if u.avatar %}
                    <td data-titulo="Avatar"><img src='{{u.avatar.url }}' alt="" class="img-fluid  user_imag rounded-circle"
                            width="50px"></td>
                    {% else %}
                    <td data-titulo="Avatar"><img src="{% static '/app/img/avatar/no-image.png' %}" class="no-imagen" alt=""
                            width="50px"></td>
                    {% endif %}
                    <td data-titulo="Fecha Registro">{{ u.date_joined }}</td>
                    <td data-titulo="Estado">
                        {% if u.is_active %}
                        Activo
                        {% else %}
                        Inactivo
                        {% endif %}
                    </td>
                    <td class="centrado">
                        <a href="{% url 'modificarUsuario' u.id %}" class="fas fa-edit colorx"></a>
                        <a href="#" onclick="eliminar({{ u.id }})" class="fas fa-trash colorx"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <div class="centrado nunito">
        <ul class="pagination ">
            {% include 'app/paginator.html' %}
        </ul>
    </div><br>
    <div class="card">
        <form method="get" class="derecha sign-up-form form " style="margin-right: 5%; margin-left: 5%;">
            <div class="form-label justify-content-md-center">
                <div class="col form-label" >
                    <h3><strong style="font-size: 20px;">Herramienta de filtro:</strong></h3>
                    {{ filtered_AppAuthUser.form.as_p }}
                </div>
    
                <div class="derecha">
                    <input type="submit" value="Buscar" class="form-btn button4" style="padding: 3px; border-radius: 20px;">
                </div>
            </div>
        </form>
    </div>
    
</div>


    



{% endblock %}