{% extends 'app/base.html' %}

{% block contenido %}

<div class="container">

	<div class="d-flex flex-column nunito">
		  <p class="m-auto p-2">
			Hemos enviado un correo con instrucciones para actualizar tu contraseña.
			Si una cuenta existe con el correo que ingresaste deberías recibir este correo a la brevedad.
		  </p><br>
		  <p class="m-auto p-2">
			Si no recibes el correo, asegurate que estes usando la dirección con la que te registraste y verifica tu carpeta de spam.
		  </p>
		  <br>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Volver a la página principal</a></p>
	</div>
</div>

{% endblock %}