{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://kit.fontawesome.com/d5ff9e6164.js" crossorigin="anonymous"></script>
<script>
    function eliminar(id){      
        Swal.fire({
        "title": "¿Estas seguro?",
        "text": "La acción que esta apunto de cometer, es irreversible",
        "icon": "warning",
        "showCancelButton": true,
        "confirmButtonColor": "#FD5151 ",
        "cancelButtonColor": "#F99C56 ",
        "confirmButtonText": "Si, Eliminar",
        "reverseButtons":true,
        }).then(function(result) {
        if (result.isConfirmed) {
        window.location.href = "/EliminarPregunta/"+id+"/"    
        Swal.fire(
        "☺ Eliminado!",
        "Su fila a sido eliminada exitosamente",
        "success",
        )
        }
        })
    }
</script>

{% endblock %}
{% block css %}
<style>
    #main-container {
        margin: 150px auto;
        width: 600px;
      }
    
      table {
        align-items: left;
        background-color: white;
        border-collapse: collapse;
        font-family: 'Segoe UI';
        width: 100%;
        box-shadow: 0 0 20px rgb(163, 163, 163);
        padding: 50%;
      }
      td,
      th {
        padding: 20px;
      }
      thead {
        background-color: #f29d39;
        color: white;
        border-bottom: rgb(255, 90, 61) 5px solid;
        text-align: left;
      }
    
      main {
        padding: 1em 2em;
      }
    
      .centrado {
        text-align: center;
      }
    
      .colorx {
        color: grey;
      }
    
     tr:nth-child(even){
         background-color: #ddd;      
     }
    
     tr:hover td{
         background-color: #fcb7c1;
     }
    
    
     @media (max-width: 45em){
            table{
                width:  100%;
                font-size:100%;
            }
            table td, table th {
                border: none;
                text-align: center;
            }
            table tr{
                display: flex;
                flex-direction: column;
                border: 1px solid grey;
                padding: 1em solid grey;            
            }
            table td[data-titulo]{
                display: flex;
            }
            table td[data-titulo]::before{
                content: attr( data-titulo );
                width: 100px;
                color: rgb(82, 81, 81);
                font-weight: bold;
            }
            table thead{
                display:none;
            }
    }
    .derecha{text-align: right;padding: 0%;}
    .button4 {
    background-color: #ff4161; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 12px;
    }
    .button3 {
    background-color: #f29d39; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 12px;  
    }
  
    /*paginación*/
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    ul.pagination li {display: inline;}
    
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    ul.pagination li a.active {
        background-color: #FF395B;
        color: white;
        border-radius: 5px;
    }
    
    ul.pagination li a:hover:not(.active) {background-color: #ddd;}
    
</style>
{% endblock %}
{% block contenido %}
<div>

  
    <div class="card">
        <h1 class="main-title">Adminitrar Pregunta</h1>        
        <h1>  <div class="derecha">
            <a  href="{% url 'RegistroPregunta' %}"><button class="button4"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Agregar nueva Pregunta</button>&nbsp;</a></h1> <br>
</div>
    <table>
        <thead>
            <tr>
                <th>Numero Pregunta</th>
                <th>Trivia</th>
                <th>Pregunta</th>
                <th>Puntos</th>
                <th>Tiempo</th>
                <th>Audio</th>
                <th>Agregar alternativas</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
         
             {% for pregunta in page_obj %}
            <tr>
                <td data-titulo="orden">{{ pregunta.preg_orden }}</td>
                <td data-titulo="Trivia">{{ pregunta.tematica_id_tematica }}</td>
                <td data-titulo="Pregunta">{{ pregunta.pregunta | title }}</td>
                <td data-titulo="Puntos">{{ pregunta.puntos }}</td>
                <td data-titulo="Tiempo">{{ pregunta.tiempo }}</td>
                <td data-titulo="Audio">{{ pregunta.audio }}</td> 
                <td>
                    <a  href="{% url 'crear-alternativa' pregunta.id_pregunta %}"><button class="button4"  name="pregunta" 
                      value="{{ pregunta.id_pregunta }}"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Alternativas</button></a>    
                </td>
                <td>                  
                <a href="{% url 'ModificarPregunta' pregunta.id_pregunta %}" class="fas fa-edit colorx"></a>                
                <a href="#" onclick="eliminar({{ pregunta.id_pregunta }})" class="fas fa-trash colorx"></a>
            </tr> 
            {% endfor %}      
        </tbody>
    </table>
</div>

<br>

<div class="centrado">
    <ul class="pagination">
        {% include 'app/paginator.html' %}
    </ul>
</div>
<br>
<br>  
<form method="get" class="derecha form">
    <div class="form-label justify-content-md-center">
        
        <div class="col form-label">
            <h3><strong>Herramienta de filtro:</strong></h3>
            {{ filtered_pregunta.form.as_p }}
        </div>
     
     <div class="derecha">  
     <input type="submit" value="Buscar" class="form-btn button3" style="padding: 3px; border-radius: 20px;">
    </div></div>           
</form>  
{% endblock %}