{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://kit.fontawesome.com/d5ff9e6164.js" crossorigin="anonymous"></script>
<style>
#main-container {
    margin: 150px auto;
    width: 600px;
  }

  table {
    align-items: left;
    background-color: white;
    border-collapse: collapse;
    font-family: 'Segoe UI';
    width: 100%;
    box-shadow: 0 0 20px rgb(163, 163, 163);
    padding: 50%;
  }
  td,
  th {
    padding: 20px;
  }
  thead {
    background-color: #f29d39;
    color: white;
    border-bottom: rgb(255, 90, 61) 5px solid;
    text-align: left;
  }

  main {
    padding: 1em 2em;
  }

  .centrado {
    text-align: center;
  }

  .colorx {
    color: grey;
  }

 tr:nth-child(even){
     background-color: #ddd;      
 }

 tr:hover td{
     background-color: #fcb7c1;
 }

 @media (max-width: 45em){
        table{
            width:  100%;
            font-size:100%;
        }
        table td, table th {
            border: none;
            text-align: center;
        }
        table tr{
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            padding: 1em solid grey;            
        }
        table td[data-titulo]{
            display: flex;
        }
        table td[data-titulo]::before{
            content: attr( data-titulo );
            width: 100px;
            color: rgb(82, 81, 81);
            font-weight: bold;
        }
        table thead{
            display:none;
        }
}
.derecha{text-align: right;padding: 0%;}
.button4 {
background-color: #FF395B; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
}

/*paginación*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #FF395B;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>

{% endblock %}

{% block css %}
<style>
    #main-container {
        margin: 150px auto;
        width: 600px;
      }
    
      table {
        align-items: left;
        background-color: white;
        border-collapse: collapse;
        font-family: 'Segoe UI';
        width: 100%;
        box-shadow: 0 0 20px rgb(163, 163, 163);
        padding: 50%;
      }
      td,
      th {
        padding: 20px;
      }
      thead {
        background-color: #f29d39;
        color: white;
        border-bottom: rgb(255, 90, 61) 5px solid;
        text-align: left;
      }
    
      main {
        padding: 1em 2em;
      }
    
      .centrado {
        text-align: center;
      }
    
      .colorx {
        color: grey;
      }
    
     tr:nth-child(even){
         background-color: #ddd;      
     }
    
     tr:hover td{
         background-color: #fcb7c1;
     }
    
     @media (max-width: 45em){
            table{
                width:  100%;
                font-size:100%;
            }
            table td, table th {
                border: none;
                text-align: center;
            }
            table tr{
                display: flex;
                flex-direction: column;
                border: 1px solid grey;
                padding: 1em solid grey;            
            }
            table td[data-titulo]{
                display: flex;
            }
            table td[data-titulo]::before{
                content: attr( data-titulo );
                width: 100px;
                color: rgb(82, 81, 81);
                font-weight: bold;
            }
            table thead{
                display:none;
            }
    }
    .derecha{text-align: right;padding: 0%;}
    .button4 {
    background-color: #FF395B; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 12px;
    }
    
    /*paginación*/
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    ul.pagination li {display: inline;}
    
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    ul.pagination li a.active {
        background-color: #FF395B;
        color: white;
        border-radius: 5px;
    }
    
    ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>

{% endblock %}
{% block contenido %}
<div>
<h1 class="main-title">Ranking<div class="derecha"></h1>
<br>
<br>
<div>
    <table>
        <thead>
            <tr>
              <th>Participante</th>
              <th>Puntos</th>
               <th>ID</th>
               <th></th>
                
            </tr>
        </thead>
        <tbody>
            {% for r in page_obj %} 
            <tr>
                <td data-titulo="Participante">{{ r.participante}}</td>
                <td data-titulo="Puntos">{{ r.puntos}}</td>
                <td data-titulo="ID_resultado">{{ r.resultado_id }}</td>
                <td>
                  
                </td>
            </tr> 
            {% endfor %}      
        </tbody>
    </table>
</div> 
<div class="centrado">
    <ul class="pagination">
      {% include 'app/paginator.html'%}
    </ul>
</div>
<br>
<div class="card">
    <form method="get" class="derecha sign-up-form form" style="margin-right: 5%; margin-left: 5%;">
        <div class="form-label justify-content-md-center">
            <div class="col form-label " >
                <h3><strong>Herramienta de filtro:</strong></h3>
                <br>

                {{filtered_ranking.form.as_p}}
                
            </div>

            <div class="derecha">
                <input type="submit" value="Buscar" class="form-btn button4" style="padding: 3px; border-radius: 20px;">
            </div>
        </div>
    </form>
</div>

{% endblock %}