{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<div class="row justify-content-md-center nunito">
  <div class="col col-lg-3">
    
  </div>
  <div class="col-md-auto"><br><br>
    <h1 class="sign-up__title" style="font-size:40px">Modificar Avatar</h1>
    <form class="sign-up-form form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">
            <div class="col form-label">
              {{ form.nombre | as_crispy_field }}
            </div>
            <div class="col form-label">
              {{ form.avatar | as_crispy_field }}
            </div>   
          </div>
        <div class="row">
            <div class="col"><br><br><br>
              <a  href="{% url 'adminAvatar' %}">
                <input type="button" value="Cancelar" class="form-btn secondary">
              </a>
            </div>
            &nbsp;
            <div class="col"><br><br><br>
              <button type="submit" id="btnEnviar" class="form-btn primary-default-btn transparent-btn">Aplicar cambios</button>
            </div>   
          </div>
    </form>
   {{mensaje}} 
  </div>
  <div class="col col-lg-4">
    
  </div>
</div>
{% endblock %}