<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GamifiWork | Sincrónico</title>
  <script src="https://kit.fontawesome.com/d5ff9e6164.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">  
  
  <!-- Custom styles -->
  <style>
    footer{
      align-self: flex-end;
    }  
    .nunito{font-family:'Nunito',sans-serif}  
    .centrado{text-align: center;}
  </style>
  {% load static %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%  static 'app/favicon.ico' %}">

  {% block css %}

  {% endblock %}

  <!-- <link rel="stylesheet" href="{% static 'app/css/style.css' %}"> -->
  <link rel="stylesheet" href="{% static 'app/css/style.min.css' %}">  
</head>

<body class="nunito">
<div class="layer"></div> 
<!-- ! Body -->

<a class="skip-link sr-only" href="#skip-target">Salir</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="{% url 'home' %}" class="logo-wrapper" title="Inicio">
              <img src="{% static 'app/img/svg/LOGOGW.png' %}">
                <span class="sr-only">Home</span>
                <div class="logo-text">
                    <span class="logo-title nunito centrado" >GamifiWork</span>
                    <span class="logo-subtitle nunito">Sincrónico</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>

        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="active" href="{% url 'home' %}"><span class="icon home" aria-hidden="true"></span><p class="nunito">Inicio</p></a>
                </li>
                <!-- <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>Posts
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                        <li>
                            <a href="posts.html">All Posts</a>
                        </li>
                        <li>
                            <a href="new-post.html">Add new post</a>
                        </li>
                    </ul>
                </li> -->
                
                <!-- <li>                  
                  <a href="usuarios.html"><span class="icon user-3" aria-hidden="true"></span>Administrar Usuarios</a>
               </li> -->
                            
                

                <li><p class="nunito"><a href="{% url 'partida' %}" aria-hidden="true">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                  <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
                  <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
                </svg>&nbsp;&nbsp;&nbsp; Iniciar Partida</p></a></li>

                <li>
                  <a class="show-cat-btn" href="##">
                      <span class="icon paper" aria-hidden="true"></span><p class="nunito">Resultados trivias</p>
                      <span class="category__btn transparent-btn" title="Open list">
                          <span class="sr-only">Abrir lista</span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
<!--                       <li>
                          <a class="nunito" href="{% url 'page1' %}">Resultado general</a>
                      </li>
                      <li>
                          <a class="nunito" href="{% url 'page1' %}">Resultado por trivia</a>
                      </li> -->
                       <li>
                          <a class="nunito" href="{% url 'PartidaResultados' %}">Resultados</a>
                      </li>
                  </ul>
              </li>
                        
            </ul>
            <span class="system-menu__title nunito">Administrar</span>
            <ul class="sidebar-body-menu">                  
            <li>
                <a class="show-cat-btn" href="##">
                    <span class="icon edit nunito" aria-hidden="true"></span><p class="nunito">Trivias</p>
                    <span class="category__btn transparent-btn" title="Open list">
                        <span class="sr-only">Abrir lista</span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li> 
                        <a class="nunito" href="{% url 'AdminTrivia' %}">Administrar trivias</a>
                    </li>
                     </li> 
                        <a class="nunito" href="{% url 'AdminPreguntas' %}">Administrar preguntas</a>
                    </li>
                </ul>
            </li>        
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon user-3" aria-hidden="true"></span><p class="nunito">Usuarios</p>
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Abrir lista</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">                        
                        <li>
                            <a class="nunito" href="{% url 'adminU' %}">Administrar usuarios</a>
                        </li>
                    </ul>
                </li>
                <li>
                  <a class="show-cat-btn" href="##">
                    &nbsp;&nbsp;<span class="icon fas fa-user-astronaut" aria-hidden="true"></span>&nbsp;&nbsp;<p class="nunito">Avatar</p>
                      <span class="category__btn transparent-btn" title="Open list">
                          <span class="sr-only">Abrir lista</span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">                     
                      <li>
                          <a class="nunito" href="{% url 'adminAvatar' %}">Administrar Avatar</a>
                      </li>                      
                  </ul>
              </li>   
            </ul>
        </div>
    </div>
   
</aside>

<div class="main-wrapper">
    <!-- ! Main nav -->
<nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <!-- <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" placeholder="Buscador..." required>
      </div> -->
    </div>
        <div class="main-nav-end">
      <div >
      <a href="##" class="main-title nunito" style="font-size: 20px;">{{ user }}</a>
      </div>
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">sup-menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>      
      <button class="theme-switcher gray-circle-btn" type="button" title="Cambiar tema">
        <span class="sr-only">Cambiar modo</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>           
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="Mi perfil" type="button">
          <span class="sr-only">Mi perfil</span>
          <span class="nav-user-img">

          {% if user.avatar %}
            <img src="{{ user.avatar.url }}"
            alt="{{user.username}}"
          {% endif %} 
            class="img-fluid  user_imag rounded-circle"> 
          </span>

        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="{% url 'perfil' user.id %} ">
              <i data-feather="user" aria-hidden="true"></i>
              <span class="nunito">Perfil</span>
            </a></li>
          <li><a href="">
              <i data-feather="settings" aria-hidden="true"></i>
              <span class="nunito">Configuración</span>
            </a></li>
          <li><a class="danger" href="{% url 'logout' %}">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span class="nunito">Cerrar sesión</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- MAIN  -->
<main class="main users chart-page" id="skip-target">
<div class="container">
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->

  
{% block contenido %}
{% endblock %}

<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
<!-- CONTENDIDO  -->
</div></main>
<!-- MAIN  -->

    <!-- ! Footer -->
    <footer class="footer">
        <div class="container footer--flex">
          <div class="footer-start">
            <p>2021 © GamifiWork - <a href="http://gamifiwork.com/" target="_blank"
                rel="noopener noreferrer">Sobre nosotros</a></p>
          </div>
          <ul class="footer-end">
            <li><a href="{% url 'home' %}">Sobre</a></li>
            <li><a href="{% url 'home' %}">Ayuda</a></li>
            <li><a href="{% url 'home' %}">Contactanos</a></li>
          </ul>
        </div>
      </footer>
        </div>
      </div>
      <!-- Chart library -->
      <script src="{% static 'app/plugins/chart.min.js' %}"></script>
      <!-- Icons library -->
      <script src="{% static 'app/plugins/feather.min.js' %}"></script>
      {% block jQuery %}
      {% endblock %}
      
      <script src="{% static 'app/js/script.js' %}"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      
        {% if messages %}
        {% for m in messages %}
        <script>
          Swal.fire({
            "title":"Felicitaciones!",
            "text":"Se ha {{m}}",
            "icon":"success"
          })
        </script>
        {% endfor %}
        {% endif %}


    {% block js %}
      
{% endblock %}
      </body>
      </html>